<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="frame-1">
          <div class="image"></div>
          <div class="image-2"></div>
          <div class="image-3"></div>
          <div class="image-4"></div>
          <div class="image-5"></div>
          <div class="image-6"></div>
        </div>
        <div class="arrow-left-circle"><div class="vector"></div></div>
        <div class="arrow-right-circle"><div class="vector-7"></div></div>
      </div>
      <div class="frame-8">
        <div class="frame-9">
          <div class="image-a"></div>
          <div class="image-b"></div>
          <div class="image-c"></div>
          <div class="image-d"></div>
          <div class="image-e"></div>
          <div class="image-f"></div>
        </div>
        <div class="arrow-left-circle-10"><div class="vector-11"></div></div>
        <div class="arrow-right-circle-12"><div class="vector-13"></div></div>
      </div>
      <div class="background"></div>
      <div class="place-design">
        <div class="flex-row-d">
          <div class="solar-logout-outline"></div>
          <div class="group"></div>
          <div class="gg-menu-round"><div class="group-14"></div></div>
          <div class="vector-15"></div>
        </div>
        <span class="menu">Menu</span>
        <div class="flex-row-be">
          <button class="rectangle">
            <span class="enjoy-time">Enjoy Your Time</span>
          </button>
          <div class="gg-menu-round-16">
            <div class="group-17"></div>
            <div class="gg-menu-round-18"><div class="group-19"></div></div>
          </div>
        </div>
        <span class="welcome-message"
          >Welcome to our café! Where every cup of coffee has a story, and every
          story begins with a cup of coffee. <br
        /></span>
      </div>
      <div class="rectangle-1a">
        <div class="ellipse"></div>
        <div class="rectangle-1b">
          <span class="top-products">Top 12 products</span>
          <div class="rectangle-1c"></div>
          <div class="flex-row">
            <span class="labla-ba">lablablabalba</span
            ><span class="labla-ba-1d">lablablabalba</span
            ><span class="labla-ba-1e">lablablabalba</span
            ><span class="labla-ba-1f">lablablabalba</span
            ><span class="lablablabalba">lablablabalba</span>
          </div>
        </div>
        <div class="frame-20">
          <div class="frame-21">
            <div class="img"></div>
            <div class="img-22"></div>
            <div class="img-23"></div>
            <div class="img-24"></div>
            <div class="img-25"></div>
            <div class="img-26"></div>
          </div>
          <div class="arrow-left-circle-line">
            <div class="vector-27"></div>
          </div>
          <div class="arrow-right-circle-line">
            <div class="vector-28"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
