:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 2023px;
  height: 2257px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 1654px;
  height: 681px;
  margin: 2362px 0 0 195px;
  z-index: 51;
  overflow: hidden;
}
.frame-1 {
  position: absolute;
  width: 1554px;
  height: 681px;
  top: 0;
  left: -789px;
  z-index: 52;
}
.image {
  position: absolute;
  width: 725px;
  height: 681px;
  top: 0;
  left: 829px;
  background: url(./assets/images/8fb77259de2c66fa36f6454c19ef8bd4dfa22693.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
  overflow: hidden;
}
.image-2 {
  position: absolute;
  width: 722px;
  height: 681px;
  top: 0;
  left: 1675px;
  background: url(./assets/images/2cfdb58904a117f7e0b1e274907598e6466e847d.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
  overflow: hidden;
}
.image-3 {
  position: absolute;
  width: 647px;
  height: 681px;
  top: 0;
  left: 2563px;
  background: url(./assets/images/d2249dcde6d08f4717efb9ec6fb684e8aa214699.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  overflow: hidden;
}
.image-4 {
  position: absolute;
  width: 666px;
  height: 681px;
  top: 0;
  left: 3346px;
  background: url(./assets/images/2c6ed39ca30f664c7d1729bee9ca37fb8333e496.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  overflow: hidden;
}
.image-5 {
  position: absolute;
  width: 531px;
  height: 681px;
  top: 0;
  left: 4158px;
  background: url(./assets/images/8bc3c0bb23a72b707f8c3087338ee81c931bbdad.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  overflow: hidden;
}
.image-6 {
  position: absolute;
  width: 692px;
  height: 681px;
  top: 0;
  left: 0;
  background: url(./assets/images/39435b660ef6ea3a7a88815c86eb6ea0ed99da52.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
  overflow: hidden;
}
.arrow-left-circle {
  position: absolute;
  width: 100px;
  height: 92px;
  top: 294px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 59;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 83.333px;
  height: 76.667px;
  margin: 7.667px 0 0 8.333px;
  background: url(./assets/images/90bb4787-0392-4060-8144-10ebd3cbbbac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
.arrow-right-circle {
  position: absolute;
  width: 100px;
  height: 97px;
  top: 302px;
  left: 1554px;
  z-index: 61;
  overflow: hidden;
}
.vector-7 {
  position: relative;
  width: 83.333px;
  height: 80.833px;
  margin: 8.083px 0 0 8.333px;
  background: url(./assets/images/f008a93d-8111-4bd9-92b5-8599baa8a49c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 62;
}
.frame-8 {
  position: relative;
  width: 1654px;
  height: 681px;
  margin: 247px 0 0 195px;
  z-index: 39;
  overflow: hidden;
}
.frame-9 {
  position: absolute;
  width: 1554px;
  height: 681px;
  top: 0;
  left: -1630px;
  z-index: 40;
}
.image-a {
  position: absolute;
  width: 725px;
  height: 681px;
  top: 0;
  left: 829px;
  background: url(./assets/images/8fb77259de2c66fa36f6454c19ef8bd4dfa22693.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  overflow: hidden;
}
.image-b {
  position: absolute;
  width: 722px;
  height: 681px;
  top: 0;
  left: 1675px;
  background: url(./assets/images/2cfdb58904a117f7e0b1e274907598e6466e847d.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  overflow: hidden;
}
.image-c {
  position: absolute;
  width: 647px;
  height: 681px;
  top: 0;
  left: 2563px;
  background: url(./assets/images/d2249dcde6d08f4717efb9ec6fb684e8aa214699.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  overflow: hidden;
}
.image-d {
  position: absolute;
  width: 666px;
  height: 681px;
  top: 0;
  left: 3346px;
  background: url(./assets/images/2c6ed39ca30f664c7d1729bee9ca37fb8333e496.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  overflow: hidden;
}
.image-e {
  position: absolute;
  width: 531px;
  height: 681px;
  top: 0;
  left: 4158px;
  background: url(./assets/images/8bc3c0bb23a72b707f8c3087338ee81c931bbdad.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
  overflow: hidden;
}
.image-f {
  position: absolute;
  width: 692px;
  height: 681px;
  top: 0;
  left: 0;
  background: url(./assets/images/39435b660ef6ea3a7a88815c86eb6ea0ed99da52.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  overflow: hidden;
}
.arrow-left-circle-10 {
  position: absolute;
  width: 100px;
  height: 92px;
  top: 294px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 47;
  overflow: hidden;
}
.vector-11 {
  position: relative;
  width: 83.333px;
  height: 76.667px;
  margin: 7.667px 0 0 8.333px;
  background: url(./assets/images/24a1a544-8613-4598-a91b-399c0373f9a4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.arrow-right-circle-12 {
  position: absolute;
  width: 100px;
  height: 97px;
  top: 302px;
  left: 1554px;
  z-index: 49;
  overflow: hidden;
}
.vector-13 {
  position: relative;
  width: 83.333px;
  height: 80.833px;
  margin: 8.083px 0 0 8.333px;
  background: url(./assets/images/7a29235b-dc4f-4862-b18d-19af8d12f160.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 50;
}
.background {
  position: absolute;
  top: -1538px;
  right: -778px;
  bottom: -1977px;
  left: -402px;
  background: url(./assets/images/ac8a9f1c-b22e-4371-b0b5-4ff07ccfc557.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.place-design {
  position: absolute;
  width: 1392px;
  height: 1100px;
  top: 100px;
  left: 108px;
  z-index: 5;
}
.flex-row-d {
  position: relative;
  width: 1019.127px;
  height: 142px;
  margin: 105px 0 0 74px;
  z-index: 24;
}
.solar-logout-outline {
  position: absolute;
  width: 115px;
  height: 119px;
  top: 0;
  left: 543px;
  background: url(./assets/images/92328761-9e68-47d9-ac97-37208de51e85.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  overflow: hidden;
}
.group {
  position: absolute;
  width: 6.57%;
  height: 80.83%;
  top: 2.11%;
  left: 74.36%;
  background: url(./assets/images/d7bb35c3-51ff-413a-888d-22c15ad23ed6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.gg-menu-round {
  position: absolute;
  width: 158px;
  height: 137px;
  top: 5px;
  left: 0;
  z-index: 19;
  overflow: hidden;
}
.group-14 {
  position: relative;
  width: 131.667px;
  height: 114.167px;
  margin: 11.417px 0 0 13.167px;
  background: url(./assets/images/3eb1a112-e68f-43bb-80f3-6b42faac7f8b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.vector-15 {
  position: absolute;
  width: 6.98%;
  height: 81.28%;
  top: 8.45%;
  left: 93.02%;
  background: url(./assets/images/1258bc91-e1c3-46da-a6a9-bdf8721695b2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.menu {
  display: block;
  position: relative;
  height: 44px;
  margin: 9px 0 0 111px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.307px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-be {
  position: relative;
  width: 543px;
  height: 140px;
  margin: 10px 0 0 605px;
  z-index: 22;
}
.rectangle {
  position: absolute;
  width: 536px;
  height: 140px;
  top: 0;
  left: 7px;
  cursor: pointer;
  background: #714024;
  border: none;
  z-index: 22;
  border-radius: 0 70px 0 70px;
}
.enjoy-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 80px;
  top: 25px;
  left: 15px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 66px;
  font-weight: 400;
  line-height: 79.875px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.gg-menu-round-16 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 0;
  overflow: hidden;
}
.group-17 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/eb709d2f-6611-4053-b6c9-b978034b14f9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}
.gg-menu-round-18 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.group-19 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/34d256f6-5546-417d-bdd5-cb5d2bdbf3bd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.welcome-message {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 685px;
  height: 81px;
  margin: 43px 0 0 542px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 26.625px;
  text-align: center;
  z-index: 9;
}
.rectangle-1a {
  position: absolute;
  width: 1798px;
  height: 1973px;
  top: 178px;
  left: 138px;
  background: #f8f3ed;
  z-index: 6;
  border-radius: 0 60px 0 0;
}
.ellipse {
  position: relative;
  width: 173px;
  height: 155px;
  margin: 14px 0 0 1590px;
  background: url(./assets/images/dbf7ddfe-f1d8-4de5-85dd-3dd91c9c1cdc.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.rectangle-1b {
  position: relative;
  width: 1490px;
  height: 412px;
  margin: 413px 0 0 118px;
  font-size: 0px;
  background: rgba(223, 193, 146, 0.92);
  z-index: 11;
  overflow: visible auto;
}
.top-products {
  display: block;
  position: relative;
  height: 86px;
  margin: 27px 0 0 515px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 60.511px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.rectangle-1c {
  position: relative;
  width: 1399.5px;
  height: 189px;
  margin: 20px 0 0 33px;
  background: url(./assets/images/f2592ea4-ad17-4213-80da-d296efc420e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.flex-row {
  position: relative;
  width: 1316px;
  height: 33px;
  margin: 13px 0 0 74px;
  z-index: 17;
}
.labla-ba {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 614px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.labla-ba-1d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 4px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.labla-ba-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 4px;
  left: 294px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.labla-ba-1f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 4px;
  left: 921px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.lablablabalba {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 11px;
  left: 1203px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.frame-20 {
  position: relative;
  width: 1654px;
  height: 681px;
  margin: 169px 0 0 57px;
  z-index: 27;
  overflow: hidden;
}
.frame-21 {
  position: absolute;
  width: 1554px;
  height: 681px;
  top: 0;
  left: 50px;
  z-index: 28;
}
.img {
  position: absolute;
  width: 725px;
  height: 681px;
  top: 0;
  left: 829px;
  background: url(./assets/images/8fb77259de2c66fa36f6454c19ef8bd4dfa22693.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
}
.img-22 {
  position: absolute;
  width: 722px;
  height: 681px;
  top: 0;
  left: 1675px;
  background: url(./assets/images/2cfdb58904a117f7e0b1e274907598e6466e847d.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  overflow: hidden;
}
.img-23 {
  position: absolute;
  width: 647px;
  height: 681px;
  top: 0;
  left: 2563px;
  background: url(./assets/images/d2249dcde6d08f4717efb9ec6fb684e8aa214699.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  overflow: hidden;
}
.img-24 {
  position: absolute;
  width: 666px;
  height: 681px;
  top: 0;
  left: 3346px;
  background: url(./assets/images/2c6ed39ca30f664c7d1729bee9ca37fb8333e496.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
  overflow: hidden;
}
.img-25 {
  position: absolute;
  width: 531px;
  height: 681px;
  top: 0;
  left: 4158px;
  background: url(./assets/images/8bc3c0bb23a72b707f8c3087338ee81c931bbdad.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  overflow: hidden;
}
.img-26 {
  position: absolute;
  width: 692px;
  height: 681px;
  top: 0;
  left: 0;
  background: url(./assets/images/39435b660ef6ea3a7a88815c86eb6ea0ed99da52.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  overflow: hidden;
}
.arrow-left-circle-line {
  position: absolute;
  width: 100px;
  height: 92px;
  top: 294px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 35;
  overflow: hidden;
}
.vector-27 {
  position: relative;
  width: 83.333px;
  height: 76.667px;
  margin: 7.667px 0 0 8.333px;
  background: url(./assets/images/e540c720-da31-4bf7-b6c7-8a162c3024ef.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}
.arrow-right-circle-line {
  position: absolute;
  width: 100px;
  height: 97px;
  top: 302px;
  left: 1554px;
  z-index: 37;
  overflow: hidden;
}
.vector-28 {
  position: relative;
  width: 83.333px;
  height: 80.833px;
  margin: 8.083px 0 0 8.333px;
  background: url(./assets/images/8a9d07a0-dbb5-4b89-b28e-4b4b8344aa82.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
