:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Inter, var(--default-font-family);
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.top-view-roasted {
  position: absolute;
  width: 56%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../images/login_pic.png') no-repeat center;
  background-size: cover;
  z-index: 9;
}

.flex-column-f {
  position: absolute;
  width: 35%; /* Adjusted for better fit */
  height: 85%;
  top: 5%;
  left: 60%; /* Adjusted for better fit */
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  position: relative;
  width: 80px; /* Adjusted size */
  height: 93px; /* Adjusted size */
  background: url('../images/logo.png') no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}

.email-address-username {
  position: relative;
  width: 90%; /* Adjusted size */
  height: auto;
  margin: 50px 0 0 0;
  font-size: 18px; /* Adjusted font size */
  text-align: center;
}

.email-address,
.or,
.email-address-1 {
  color: #000000;
}

.asterisk {
  color: #fc0909;
}

.rectangle {
  position: relative;
  width: 450px; /* Adjusted size */
  height: 50px; /* Adjusted size */
  margin: 20px 0;
  background: #d9d9d9;
  z-index: 1;
  border-radius: 15px; /* Adjusted border radius */
  overflow: hidden;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  font-size: 18px; /* Adjusted font size */
}

.password-field {
  position: relative;
  width: 90%; /* Adjusted size */
  height: auto;
  margin: 20px 0;
  font-size: 18px; /* Adjusted font size */
  text-align: center;
}

.password-text,
.required {
  color: #000000;
}

.required {
  color: #fe0d0d;
}

.rectangle-button {
  width: 150px; /* Adjusted size */
  height: 40px; /* Adjusted size */
  margin: 30px auto; /* Center the button */
  margin-left: 140px;
  cursor: pointer;
  background: #a97f61;
  border: none;
  border-radius: 20px; /* Adjusted border radius */
  text-align: center;
}

.log-in {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px; /* Adjusted line height */
  color: #000000;
  font-size: 18px; /* Adjusted font size */
  font-weight: 400;
}

.sign-up {
  position: relative;
  width: 90%; /* Adjusted size */
  height: auto;
  margin: 20px 0;
  font-size: 18px; /* Adjusted font size */
  text-align: center;
}

.dont-have-account,
.sign-up-2 {
  color: #095bfc;
}

.sign-up-2 {
  font-weight: 800;
}
