:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1450px;
  height: 880px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1450px;
  height: 120px;
  margin: 0 0 0 0;
  background: rgba(223, 193, 146, 0.42);
}
.vector {
  position: absolute;
  width: 4.14%;
  height: 55%;
  top: 22.5%;
  left: 91.17%;
  background: url(./assets/images/3d446197-6db9-44dd-8a2e-abd875dc01d6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}
.group {
  position: absolute;
  width: 3.17%;
  height: 55%;
  top: 22.5%;
  left: 58.41%;
  background: url(./assets/images/b7df8e87-c0b9-4b05-9f56-9edadd3a4957.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.your-shopping-cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 332px;
  height: 69px;
  top: 39px;
  left: 503px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.568px;
  text-align: left;
  z-index: 4;
}
.vector-1 {
  position: absolute;
  width: 2.41%;
  height: 30.83%;
  top: 35.83%;
  left: 2.69%;
  background: url(./assets/images/abd2be30-5685-48c1-91fb-bb8aeb58ab50.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.back-to-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 50px;
  left: 86px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-2 {
  position: relative;
  width: 1225px;
  height: 326px;
  margin: 97px 0 0 94px;
  background: rgba(223, 193, 146, 0.27);
  z-index: 6;
  border-radius: 50px;
}
.img {
  position: absolute;
  width: 204px;
  height: 245px;
  top: 37px;
  left: 48px;
  background: url(./assets/images/e4bb3b220be77bfedb11caaa320641df18e55e4e.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.cheesecake {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 37px;
  left: 291px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.rectangle-3 {
  position: absolute;
  width: 375px;
  height: 195px;
  top: 48px;
  left: 641px;
  background: #dfc192;
  border: 1px solid #000000;
  z-index: 13;
  border-radius: 50px;
}
.thanks-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 313px;
  height: 142px;
  top: 25px;
  left: 38px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  z-index: 14;
}
.price-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 81px;
  left: 291px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.amount-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 124px;
  left: 291px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.total-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 167px;
  left: 291px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.time-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 211px;
  left: 291px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
