:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1450px;
  height: 880px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.top-view-roasted {
  position: absolute;
  width: 810px;
  height: 880px;
  top: 0;
  left: 0;
  background: url('../images/login_pic.png')
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.flex-column-dc {
  position: absolute;
  width: 39.68%;
  height: 90.11%;
  top: 3.52%;
  left: 58.28%;
  z-index: 18;
}
.rectangle {
  position: relative;
  width: 415px;
  height: 74px;
  margin: 145px 0 0 41px;
  background: #d9d9d9;
  z-index: 11;
  overflow: hidden;
  border-radius: 30px;
}
.enter-your-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 14px;
  left: 26px;
  color: rgba(0, 0, 0, 0.39);
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.email-adress {
  position: relative;
  width: 415px;
  height: 47px;
  margin: 8px 0 0 51px;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  z-index: 12;
}
.email-adress-1 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.empty-class {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.asterisk {
  position: relative;
  color: #fe0d0d;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.username {
  position: relative;
  width: 138px;
  height: 29px;
  margin: 105px 0 0 55px;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
}
.empty-class-2 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.username-3 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.empty-class-4 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.asterisk-5 {
  position: relative;
  color: #fc0909;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.rectangle-6 {
  position: relative;
  width: 415px;
  height: 74px;
  margin: 18px 0 0 50px;
  background: #d9d9d9;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
}
.enter-username {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 24px;
  left: 26px;
  color: rgba(0, 0, 0, 0.39);
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.password {
  position: relative;
  width: 415px;
  height: 47px;
  margin: 18px 0 0 60px;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  z-index: 2;
}
.password-7 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.empty {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.asterisk-8 {
  position: relative;
  color: #fe0d0d;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.rectangle-9 {
  position: relative;
  width: 221px;
  height: 99px;
  margin: 129px 0 0 162px;
  cursor: pointer;
  background: #a97f61;
  border: none;
  z-index: 4;
  border-radius: 60px;
}
.sign-up {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 161px;
  height: 53px;
  top: 25px;
  left: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.group {
  position: absolute;
  width: 19.19%;
  height: 16.2%;
  top: 0;
  left: 80.81%;
  background: url('../images/logo.png')
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.back {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 13px;
  left: 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.arrow {
  position: absolute;
  width: 76px;
  height: 0px;
  top: 33px;
  left: 0;
  background: url('../images/salam.png')
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.name-and-family-name {
  position: absolute;
  width: 281px;
  height: 29px;
  top: 88px;
  left: 46px;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 10;
}
.empty-space {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.name-and-family-name-a {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.empty-space-b {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.asterisk-c {
  position: relative;
  color: #fc0909;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
}
.rectangle-d {
  position: absolute;
  width: 420px;
  height: 82px;
  top: 274px;
  left: 41px;
  background: #d9d9d9;
  z-index: 13;
  overflow: hidden;
  border-radius: 30px;
}
.email-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 300px;
  left: 67px;
  color: rgba(0, 0, 0, 0.39);
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.rectangle-e {
  position: absolute;
  width: 420px;
  height: 82px;
  top: 565px;
  left: 50px;
  background: #d9d9d9;
  z-index: 3;
  border-radius: 30px;
}
.vector {
  position: relative;
  width: 40px;
  height: 24px;
  margin: 26px 0 0 350px;
  background: url('../images/back.png')
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.password-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 591px;
  left: 76px;
  color: rgba(0, 0, 0, 0.39);
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
