<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="inventory-submit.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="group"></div>
        <div class="exit-line"><div class="group-1"></div></div>
      </div>
      <div class="flex-row-d">
        <div class="product-name">
          <span class="nbsp"> </span
          ><span class="product-name-2">Product name</span
          ><span class="nbsp-3"> </span><span class="asterisk">*</span>
        </div>
        <div class="product-ingredients">
          <span class="empty-space"> </span
          ><span class="product-ingredients-4">Product Ingredients</span
          ><span class="empty-space-5"> </span>
        </div>
        <div class="rectangle-6">
          <div class="rectangle-7">
            <span class="inventory-control">Inventory control</span>
          </div>
          <div class="rectangle-8">
            <span class="add-product">Add product</span>
          </div>
          <button class="button"><span class="menu">Menu</span></button>
        </div>
        <button class="rectangle-button">
          <span class="iced-latte-span">Iced Latte</span>
        </button>
        <div class="rectangle-div">
          <span class="product-material-span"
            >What Is This Product Made-of</span
          >
        </div>
        <div class="product-price-div">
          <span class="product-price-span">Product Price</span
          ><span class="empty-span"> </span><span class="asterisk-span">*</span>
        </div>
        <button class="rectangle-button-9">
          <span class="enter-price-span">Enter Price</span>
        </button>
        <div class="product-vertical-div">
          <span class="product-vertical"> </span
          ><span class="product-vertical-a">Product Vertical</span
          ><span class="product-vertical-b"> </span
          ><span class="asterisk-c">*</span>
        </div>
        <div class="product-description">
          <span class="product-description-d"> </span
          ><span class="product-description-e">Product Description</span>
        </div>
        <button class="rectangle-f">
          <span class="enter-product-vertical">Enter Product Vertical</span>
        </button>
        <div class="rectangle-10">
          <span class="describe-product-characters"
            >Describe The product in 400 Characters</span
          >
        </div>
        <div class="product-image">
          <span class="nbsp-11"> </span
          ><span class="product-image-12">Product Image</span
          ><span class="nbsp-13"> </span><span class="asterisk-14">*</span>
        </div>
        <button class="rectangle-15">
          <span class="input-png-jpeg">Input Png or JPeg File</span></button
        ><button class="rectangle-16">
          <span class="submit">Submit</span>
        </button>
      </div>
    </div>

  </body>
</html>
