<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="rectangle">
            <div class="menu-icon"></div>
            <div class="exit-line"></div>
          </div>
          <div class="flex-row-d">
             
              
          </div>
        <form method="POST" enctype="multipart/form-data" class="product-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Product Name <span class="asterisk">*</span></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Product Price <span class="asterisk">*</span></label>
                <input type="number" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="category">Product Category <span class="asterisk">*</span></label>
                <select id="category" name="category" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.get_name_display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea id="description" name="description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Product Image <span class="asterisk">*</span></label>
                <input type="file" id="image" name="image" required>
            </div>
            <div class="form-group">
                <label>Product Ingredients</label>
                {% for ingredient in ingredients %}
                <div class="ingredient">
                    <input type="checkbox" id="ingredient-{{ ingredient.id }}" name="ingredients" value="{{ ingredient.id }}">
                    <label for="ingredient-{{ ingredient.id }}">{{ ingredient.name }}</label>
                    <input type="number" name="quantity-{{ ingredient.id }}" step="0.01" placeholder="Quantity">
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="submit">Add Product</button>
        </form>
    </div>
</body>
</html>


