<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Control</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
</head>
<style>
  .back-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px; /* اندازه آیکون */
    height: 30px; /* اندازه آیکون */
    background: url('{% static 'images/exiticon.png' %}') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 1000; /* برای اطمینان از بالاتر بودن نسبت به سایر عناصر */
  }
  .main-container {
    position: relative; /* برای تنظیم موقعیت آیکون درون کانتینر */
  }
</style>
<body>
  <div class="main-container">
    <!-- لینک بازگشت به صفحه ورود -->
    <a href="{% url 'login' %}" class="back-icon" title="Back to login"></a>
    <div class="rectangle-82"></div>
    <div class="mingcute-exit-line"></div>
    <div class="sidebar">
      <div class="rectangle-84">
        <a href="{% url 'inventory' %}" class="inventory-control">Inventory Control</a>
      </div>
      <div class="rectangle-85">
        <a href="{% url 'addproduct' %}" class="add-product">Add Product</a>
      </div>
      <div class="rectangle-101">
        <a href="{% url 'monitor_orders' %}" class="reports">Reports</a>
      </div>
    </div>
    <div class="content">
      <div class="rectangle-86">
        <div id="product-list"></div>
      </div>
    </div>
  </div>
</body>
</html>
