<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Control</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
</head>
<body>
  <div class="main-container">
    <div class="rectangle-82"></div>
    <div class="mingcute-exit-line"></div>
    <div class="sidebar">
      <div class="rectangle-84">
        <span class="inventory-control">Inventory Control</span>
      </div>
      <div class="rectangle-85">
        <a href="{% url 'addproduct' %}" class="add-product">Add Product</a>
      </div>
      <div class="rectangle-101 menu-container">
        <a href="#" class="menu">Menu</a>
        <div class="dropdown-content">
          <a href="#" data-category="hot">Hot drinks</a>
          <div id="hot" class="sub-category"></div>
          <a href="#" data-category="cold">Cold drinks</a>
          <div id="cold" class="sub-category"></div>
          <a href="#" data-category="cakes">Cakes and Dessert</a>
          <div id="cakes" class="sub-category"></div>
          <a href="#" data-category="desserts">Desserts</a>
          <div id="desserts" class="sub-category"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="rectangle-153"></div>
      <span class="filter">Filter</span>
      <div class="rectangle-154"></div>
      <div class="ellipse-35"></div>
      <span class="yearly">Yearly</span>
      <div class="rectangle-151"></div>
      <div class="ellipse-33"></div>
      <span class="monthly">Monthly</span>
      <div class="rectangle-152"></div>
      <div class="ellipse-34"></div>
      <span class="daily">Daily</span>
      <div class="rectangle-86"></div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const dropdownLinks = document.querySelectorAll('.dropdown-content a[data-category]');
      dropdownLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          const category = this.getAttribute('data-category');
          fetchProducts(category);
        });
      });

      function fetchProducts(category) {
        fetch(`/get-products/${category}/`)
          .then(response => response.json())
          .then(data => {
            const subCategoryDiv = document.getElementById(category);
            subCategoryDiv.innerHTML = '';
            data.products.forEach(product => {
              const productDiv = document.createElement('div');
              productDiv.classList.add('product');
              productDiv.innerText = product.name;
              subCategoryDiv.appendChild(productDiv);
            });
          });
      }
    });
  </script>
</body>
</html>


