<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="inventory control-redbox.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="group"></div>
        <div class="exit-line"><div class="group-1"></div></div>
      </div>
      <div class="flex-row-fb">
        <div class="rectangle-2">
          <div class="rectangle-3">
            <span class="inventory-control">Inventory control</span>
          </div>
          <div class="rectangle-4">
            <div class="ellipse"></div>
            <span class="sugar">Sugar</span>
          </div>
          <div class="rectangle-5">
            <div class="ellipse-6"></div>
            <span class="milk">Milk</span>
          </div>
          <div class="rectangle-7">
            <div class="ellipse-8"></div>
            <span class="coffe-bean">Coffe Bean</span>
          </div>
          <div class="rectangle-9">
            <div class="ellipse-a"></div>
            <span class="flour">Flour</span>
          </div>
          <div class="rectangle-b">
            <div class="ellipse-c"></div>
            <span class="chocolate">Chocolate</span>
          </div>
          <div class="rectangle-d">
            <span class="add-product">Add product</span>
          </div>
          <div class="rectangle-e"><span class="menu">Menu</span></div>
        </div>
        <span class="new-inventory-level"
          >What is This Products New Inventory Level?</span
        >
        <div class="rectangle-f"></div>
        <button class="button"><span class="go-back">Go Back</span></button
        ><button class="rectangle-button">
          <span class="submit-span">Submit</span></button
        ><button class="rectangle-button-10">
          <span class="please-enter-value-span">Please Enter a Value</span>
        </button>
      </div>
    </div>
  </body>
</html>
