<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredient Inventory</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}" />
   
</head>
<body>
    <div class="main-container">
        <div class="rectangle">
            <a href="{% url 'admin_page' %}">
                <img src="{% static 'images/back.png' %}" alt="Back" class="back-icon" />
            </a>
            <div class="title">Ingredient Inventory</div>
        </div>
        <div class="content-container">
            <div class="header"></div> 
            <div class="inventory-control">
                <a href="{% url 'add_ingredient' %}" class="rectangle-button add-ingredient">Add New Ingredient</a>
            </div>
            <div class="ingredient-list">
                <table>
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.quantity }}</td>
                            <td>
                                <a href="{% url 'update_ingredient' ingredient.name %}" class="rectangle-button edit-button">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
