<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful - Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order_success.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="rectangle">
            <div class="vector"></div>
            <div class="group"></div>
            <span class="order-success-message">Your order was successful!</span>
            <p>Thank you for shopping from Hexa Cafe.</p>
            <p>please be patient until your order is ready :)</p>
            <a href="{% url 'product' %}" class="back-to-menu">Back to Menu</a>
        </div>
    </div>
</body>
</html>
