<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HexaCafe</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
   
</head>
<body>
    <div class="main-container">
        <div class="background"></div>
        <div class="inner-container">
            <div class="design-placeholder">
                <div class="flex-row-a">
                    <div class="solar-logout-outline" id="login-logo"></div>
                    <div class="group-2" id="shopping-cart-icon"></div>
                    <div class="group-8" id="shopping-history-icon"></div>
                    <div class="group-9"></div>
                    <div class="gg-menu-round"><div class="group-1"></div></div>
                </div>
                <span class="menu">Menu</span>
                <div class="flex-row-c">
                    <button class="rectangle">
                        <span class="enjoy-your-time">Enjoy Your Time</span>
                    </button>
                    <div class="gg-menu-round-2">
                        <div class="group-3"></div>
                        <div class="gg-menu-round-4"><div class="group-5"></div></div>
                    </div>
                </div>
                <span class="welcome-message">
                    In the heart of our cozy Yemeni oasis, where the sun kisses the sand, we invite you to experience a refreshing escape.
                </span>

                <div id="cold-drinks" class="rectangle-section">
                    <h2 class="enjoy-your-time">Cold Drinks</h2>
                    {% for product in products %}
                    {% if product.category == "cold" %}
                    <div class="product-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>${{ product.price }}</p>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" required>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div id="hot-drinks" class="rectangle-section">
                    <h2 class="enjoy-your-time">Hot Drinks</h2>
                    {% for product in products %}
                    {% if product.category == "hot" %}
                    <div class="product-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>${{ product.price }}</p>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" required>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div id="cakes" class="rectangle-section">
                    <h2 class="enjoy-your-time">Cakes and Desserts</h2>
                    {% for product in products %}
                    {% if product.category == "cakes" %}
                    <div class="product-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>${{ product.price }}</p>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" required>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div id="breakfasts" class="rectangle-section">
                    <h2 class="enjoy-your-time">Breakfast</h2>
                    {% for product in products %}
                    {% if product.category == "breakfasts" %}
                    <div class="product-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>${{ product.price }}</p>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" required>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="menu-container">
        <div class="menu-item"><a href="#cold-drinks">• Cold Drinks</a></div>
        <div class="menu-item"><a href="#hot-drinks">• Hot Drinks</a></div>
        <div class="menu-item"><a href="#cakes">• Cakes & Desserts</a></div>
        <div class="menu-item"><a href="#breakfasts">• Breakfast</a></div>
    </div>
    <div class="overlay"></div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.querySelector('.gg-menu-round .group-1').addEventListener('click', function() {
            document.querySelector('.menu-container').classList.toggle('active');
            document.querySelector('.overlay').classList.toggle('active');
        });

        document.querySelector('.overlay').addEventListener('click', function() {
            document.querySelector('.menu-container').classList.remove('active');
            document.querySelector('.overlay').classList.remove('active');
        });

        document.getElementById('login-logo').addEventListener('click', function() {
            window.location.href = "{% url 'login' %}";
        });

        document.getElementById('shopping-cart-icon').addEventListener('click', function() {
            window.location.href = "{% url 'shoppingcart' %}";
        });

        document.getElementById('shopping-history-icon').addEventListener('click', function() {
            window.location.href = "{% url 'shopping-history' %}";
        });

        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>
</html>
