<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" />
    <link rel="stylesheet" href="shopping-cart-message.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="vector"></div>
        <div class="group"></div>
        <span class="your-shopping-cart">your shopping cart</span>
        <div class="vector-1"></div>
        <span class="back-to-menu">back to menu</span>
      </div>
      <span class="no-active-cart"
        >you don’t have an active shopping cart yet!<br /><br />we recommend you
        check out our delicious menu :)</span
      >
    </div>
  </body>
</html>
