<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
    <link rel="stylesheet" href="shoppingcart.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="group"></div>
        <div class="vector"></div>
        <span class="shopping-cart">your shopping cart</span>
        <div class="vector-1"></div>
        <span class="back-to-menu">back to menu</span>
      </div>
      <div class="rectangle-2">
        <div class="img"></div>
        <span class="cheesecake">cheesecake</span
        ><button class="rectangle-button">
          <span class="finalize-order-span">finalize order</span></button
        ><span class="price-span">price : 8.99$</span
        ><span class="amount-span">amount : 2</span
        ><button class="rectangle-button-3">
          <span class="remove">remove </span></button
        ><span class="total-price">total: 17.98$</span
        ><span class="time-stamp">17:51:32</span>
      </div>
    </div>
  </body>
</html>
