<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
    <link rel="stylesheet" href="shoppingcart-final.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="vector"></div>
        <div class="group"></div>
        <span class="your-shopping-cart">your shopping cart</span>
        <div class="vector-1"></div>
        <span class="back-to-menu">back to menu</span>
      </div>
      <div class="rectangle-2">
        <div class="img"></div>
        <span class="cheesecake">cheesecake</span>
        <div class="rectangle-3">
          <span class="thanks-message"
            >Thanks for choosing us!<br />your order will be ready by an hour.
            we appreciate your patience.</span
          >
        </div>
        <span class="price-info">price : 8.99$</span
        ><span class="amount-info">amount : 2</span
        ><span class="total-info">total: 17.98$</span
        ><span class="time-span">17:51:32</span>
      </div>
    </div>
  </body>
</html>
