<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="top-view-roasted"></div>
      <div class="flex-column-dc">
        <div class="rectangle">
          <span class="enter-your-name">Enter your name</span>
        </div>
        <div class="email-adress">
          <span class="email-adress-1">email adress</span
          ><span class="empty-class"> </span><span class="asterisk">*</span>
        </div>
        <div class="username">
          <span class="empty-class-2"> </span
          ><span class="username-3">username</span
          ><span class="empty-class-4"> </span><span class="asterisk-5">*</span>
        </div>
        <div class="rectangle-6">
          <span class="enter-username">Enter a username</span>
        </div>
        <div class="password">
          <span class="password-7">password</span><span class="empty"> </span
          ><span class="asterisk-8">*</span>
        </div>
        <button class="rectangle-9">
          <span class="sign-up">sign up</span>
        </button>
        <div class="group"></div>
        <span class="back">back</span>
        <div class="arrow"></div>
        <div class="name-and-family-name">
          <span class="empty-space"> </span
          ><span class="name-and-family-name-a">name and family name</span
          ><span class="empty-space-b"> </span><span class="asterisk-c">*</span>
        </div>
        <div class="rectangle-d"></div>
        <span class="email-input">Enter your email</span>
        <div class="rectangle-e"><div class="vector"></div></div>
        <span class="password-input">Enter your password</span>
      </div>
    </div>
  </body>
</html>
