{% extends 'base.html' %}

{% block content %}
<div class="rectangle">
    <div class="group"></div>
    <div class="exit-line"><div class="group-1"></div></div>
</div>
<div class="flex-row-d">
    <div class="rectangle-2">
        <div class="rectangle-3">
            <span class="inventory-control">Success!</span>
        </div>
        <div class="rectangle-f">
            <span class="inventory-level">Ingredient has been successfully added/updated.</span>
        </div>
    </div>
</div>
{% endblock %}