{% extends 'base.html' %}

{% block content %}
<div class="rectangle">
    <div class="group"></div>
    <div class="exit-line"><div class="group-1"></div></div>
</div>
<div class="flex-row-d">
    <div class="rectangle-2">
        <div class="rectangle-3">
            <span class="inventory-control">Update Ingredient</span>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button class="rectangle-11" type="submit">
                <span class="submit">Update Ingredient</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}