<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hexa Cafe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
    <link rel="stylesheet" href="shopping cart-purchase.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="vector"></div>
        <div class="group"></div>
        <span class="shopping-cart">your shopping cart</span>
        <div class="vector-1"></div>
        <span class="back-to-menu">back to menu</span>
      </div>
      <div class="rectangle-2">
        <div class="img"></div>
        <span class="ordered-by-customer">ordered by: costumer001</span
        ><span class="cheesecake">cheesecake</span
        ><span class="ordered-number">ordered number: 134</span
        ><span class="price">price : 8.99$</span
        ><span class="takeout">takeout </span
        ><span class="amount">amount : 2</span>
        <div class="ellipse"></div>
        <button class="rectangle-3">
          <span class="purchase">purchase</span></button
        ><span class="total-price">total: 17.98$</span
        ><span class="eat-in">eat in </span>
        <div class="ellipse-4"></div>
        <span class="time-span">17:51:32</span>
      </div>
    </div>
  </body>
</html>
